body {
    font-size: 14px;
    color: #333;
    font-family: 'Raleway', sans-serif;
    line-height: 160%;
}
.header {
    height: 65px;
    border-bottom: 1px solid #999;
	background: #fff;
	width: 100%;
	z-index: 20;
}

.header .navbar-brand {
    background: url("../images/logo.png") no-repeat center;
    width: 100px;
    height: 65px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/logo.png', sizingMethod='scale')
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/logo.png', sizingMethod='scale')";
}

.footer {
    background: #333333;
    color: #aaaaaa;
    font-size: 14px;
    position: relative;
}

.footer .footer-menu {
	padding: 0 0 50px;
	font-family: 'Lato', sans-serif;
}

.footer .footer-menu h4 {
	text-transform: uppercase;
	color: #eee;
	font-weight: 400;
	margin: 0 0 15px;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}

.footer .footer-menu ul li {
	list-style: none;
	font-size: 13px;
}

.footer a {
    color: #aaaaaa;
}

.footer .copyright {
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 5px;
}

.footer .top-scroll {
    display: block;
    width: 62px;
    height: 62px;
    margin: -25px auto 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    behavior: url(PIE.htc);
    font-size: 40px;
    background: url("../images/top-arrow.png") no-repeat center #c03e41;
    color: #fff;
    border: 6px solid #333;
    position: relative;
    z-index: 5;
}


.lt-ie9 {
    min-width: 650px;
}

.lt-ie9 .jumbotron h1 {
    font-size: 24px;
    font-weight: 400;
}

.lt-ie9 .form-control {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 43px;
    min-height: 43px;
}

.rounded {
    position: relative;
}

section {
    padding: 56px 0 35px;
    position: relative;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-family: oswald, sans-serif;
    font-weight: 300;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-family: oswald, sans-serif;
    font-weight: 300;
}

.lower-c {
    text-transform: lowercase;
}

.divider {
    display: block;
    height: 2px;
    width: 58px;
    margin: auto;
    background: #696969;
    border-bottom: 1px solid #c9c9c9;
}

.divider.mini {
    width: 20px;
    display: inline-block;
}

.bg-red .divider {
    background: #fff;
}

.divider.marg {
    margin: 28px auto;
}

.divider.marg1 {
    margin: 16px auto 40px;
}

.marg-top {
    margin-top: 17px;
}

.fs-text {
    font-size: 16px;
    line-height: 2em;
}

.bg-red {
    background: #c03e41;
    color: #fff;
}

.bg-grey {
    background: #efefef;
    padding: 45px 0 40px;
}

.bg-red a {
    color: #fff;
}

.text-red {
    color: #c03e41;
}

.anchor-faq,
.anchor-top,
.anchor-who-we-are,
.anchor-how-it-works,
.anchor-form-box-1,
.anchor-who-is-it-for,
.anchor-clients,
.anchor-media,
.anchor-expectation {
	margin-top: -66px;
	height: 66px;
	display: block;
	width: 1px;
}

.jumbotron {
    background: url("../images/jumbotron.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg-1.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg-1.jpg', sizingMethod='scale')";
    font-family: 'Oswald', sans-serif;
    min-height: 735px;
    margin: 0;
}

.jumbotron h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.65em;
    margin: 125px 0 95px;
}

.jumbotron .jumbotron-btn {
    border-radius: 4px;
    border: 1px solid #c03e41;
    border-bottom: 4px solid #c03e41;
    max-width: 230px;
    padding: 8px 12px;
    color: #c03e41;
    display: block;
    margin: 0 auto;
	cursor: pointer;
}

.jumbotron .jumbotron-btn b {
    text-transform: uppercase;
    display: block;
    font-size: 16px;
}

.jumbotron .jumbotron-btn:hover {
    text-decoration: none;
    background: rgba(192, 62, 65, 0.1);
}

.jumbotron + section {
    margin-top: 44px;
}

.ipad-h {
    background: url("../images/ipad-h.jpg") no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    max-width: 566px;
    width: 90%;
    height: 439px;
    padding: 45px 170px;
    font-family: 'Lato', sans-serif;
    font-size: 14.5px;
    line-height: 1.35em;
    margin: 60px auto 73px;
    white-space: pre-line;
    text-align: center;
}

.ipad-v {
    background: url("../images/ipad-v.jpg") no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    max-width: 355px;
    width: 100%;
    height: 459px;
    padding: 50px 40px;
    font-family: 'Lato', sans-serif;
    font-size: 14.5px;
    line-height: 1.35em;
    margin: 0 auto 40px;
    white-space: pre-line;
    text-align: center;
}

.ipad-h h6,
.ipad-v h6 {
    font-family: "oswald", sans-serif;
    font-size: 17.5px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: 0 0 5px;
}

.benefits-box {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.main-title-box h1 {
    font-size: 32px;
    font-family: oswald, sans-serif;
    font-weight: 300;
}

.main-title-box {
    margin: 70px 0 0;
}

.main-title-box .fs-text {
    font-size: 17px;
    margin: -10px 0 0;
}

.benefits-box .ben-part {
    min-height: 119px;
    line-height: 1.45em;
    position: relative;
}

.benefits-box .text-right .ben-part {
    padding-right: 75px;
    margin-right: 23px;
}

.benefits-box .text-left .ben-part {
    padding-left: 75px;
    margin-left: 23px;
}


.benefits-box h5 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 15px;
}

.benefits-box .ben-part:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    background: url("../images/sprite.png") no-repeat 200px 200px;
}

.benefits-box .text-right .ben-part:before {
    right: 0;
}

.benefits-box .text-left .ben-part:before {
    left: 0;
}

.benefits-box .ben-part.icon-1:before {
    background-position: 0 0;
}

.benefits-box .ben-part.icon-2:before {
    background-position: 0 -20px;
}

.benefits-box .ben-part.icon-3:before {
    background-position: 0 -40px;
}

.benefits-box .ben-part.icon-4:before {
    background-position: 0 -60px;
}

.benefits-box .ben-part.icon-5:before {
    background-position: 0 -80px;
}

.benefits-box .ben-part.icon-6:before {
    background-position: 0 -100px;
}

.benefits-box.benefits-var1 {
    padding: 39px 0 59px;
}

.benefits-box.benefits-var1 .text-right .ben-part,
.benefits-box.benefits-var1 .text-left .ben-part {
    padding: 0;
}

.benefits-box.benefits-var1 h5 {
    padding: 0;
    height: 24px;
}

.benefits-box.benefits-var1 .text-right h5 {
    padding-right: 50px;
}

.benefits-box.benefits-var1 .text-left h5 {
    padding-left: 50px;
}

.benefits-box.benefits-var1 .ben-part:after {
    content: "";
    display: block;
    width: 36px;
    height: 1px;
    background: #333;
    position: absolute;
    top: 28px;
}

.benefits-box.benefits-var1 .text-left .ben-part:after {
    left: -8px;
}

.benefits-box.benefits-var1 .text-right .ben-part:after {
    right: -8px;
}

.consult-line {
    position: relative;
    height: 63px;
}

.consult-line:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -1px;
    background: #c03e41;
}

.consult-line .free-consult {
    background: #c03e41;
    color: #fff;
    display: block;
    margin: auto;
    height: 63px;
    width: 230px;
    position: relative;
    z-index: 5;
    text-align: center;
	cursor: pointer;
    padding: 9px 5px;
    font-family: oswald, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 4px;
	transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
}

.consult-line .free-consult:hover {
	text-decoration: none;
	background: #BE0004;
}

.consult-line .free-consult b {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
}

.consult-box {
    font-family: oswald, sans-serif;
    padding: 52px 0 35px;
}

.consult-box h3 {
    margin: -5px 0 18px;
}

.consult-box h4 {
    font-size: 18px;
    margin: 0 0 10px;
}

.consult-box a {
    text-decoration: underline;
}

.consult-box a:hover {
    text-decoration: none;
}

.who-are-we {
    margin: 40px 0 0;
    padding-bottom: 0;
    border-bottom: 1px solid #cccccc;
}

.who-are-we .bold {
    font-weight: 600;
    font-size: 16px;
}

.who-are-we .img-wrap {
    margin: 43px auto 52px;
}

.who-are-we p {
    margin: 0 0 26px;
}

.who-are-we .video-box {
    width: 100%;
    max-width: 570px;
    margin: 38px auto 0;
    background: url("../images/video-box.jpg") no-repeat bottom;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
	padding: 2% 2% 1px;
	position: relative;
	overflow: hidden;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.wr-box {
    font-size: 22px;
    font-family: oswald, sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    padding: 41px 0 26px;
    color: #c03e41;
}

.how-it-works {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    padding: 96px 0 6px;
    line-height: 1.5em;
}

.how-it-works .text-big {
    font-size: 16px;
    line-height: 1.5em;
    margin: 0 0 50px;
}

.how-it-works h5 {
    color: #c03e41;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 15px;
}

.how-it-works .scroll-btn {
    display: block;
    max-width: 64px;
    width: 100%;
    height: 64px;
    background: url("../images/arrow-bot.png") no-repeat;
    font-size: 0;
    text-indent: -9999px;
    position: relative;
    margin: 83px auto 0;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.how-it-works .part {
    min-height: 118px;
}

.bg-red.form-box {
    padding: 40px 0 50px;
}

.bg-red.form-box h3 + h6 {
    font-size: 18px;
    font-weight: 300;
    font-family: Oswald, sans-serif;
    margin: 10px 0 57px;
}

.form-box form p {
    margin-bottom: 22px;
}

.how-it-works .part .divider {
    margin: 0 0 12px;
}

.cta-1 {
    background: url("../images/bg-1.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg-1.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg-1.jpg', sizingMethod='scale')";
    font-size: 14px;
    padding: 96px 0 54px;
}

.cta-1 .big-text {
    font-size: 28px;
    line-height: 1.65em;
    margin: 38px 0 43px;
}

.cta-1 p {
    margin: 0 0 43px;
    line-height: 2em;
}

.cta-1 p:last-child {
    line-height: 2.25em;
}

.cta-1 p span {
    padding: 0 15px;
}

.main-slider {
    position: relative;
    overflow: hidden;
}

#main-slider {
    padding: 0;
    width: 100%;
    max-width: 100%;
}

#main-slider li,
#main-slider li img {
    width: 100%;
}

.testimonial-block {
    padding: 96px 0 32px;
    position: relative;
}

.testimonial-block h2 {
    margin: 0 0 32px;
}

.testimonial-block .divider {
    margin: 28px auto 44px;
}

.testimonial-slides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    min-height: 205px;
    max-width: 1140px;
    padding: 0 80px;
}

.testimonial-slides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    color: #666666;
    font-size: 13px;
    min-height: 260px;
}

.bg-red .testimonial-slides li {
    color: #fff;
}

.testimonial-slides li .blockquote {
    padding-top: 54px;
    line-height: 1.6em;
    margin: 0 0 40px;
    background: url("../images/quotes.png") no-repeat center top;
}

.testimonial-slides li .person-name {
    font-size: 16px;
    font-family: lato, sans-serif;
    color: #545454;
    font-weight: 600;
}

.testimonial-slides li .person-position {
    font-size: 13px;
    color: #aaaaaa;
    text-transform: uppercase;
}

.testimonial-slides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides_nav {
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/slider-btns.png") no-repeat;
    font-size: 0;
    text-indent: -9999px;
    position: absolute;
    z-index: 50;
    top: 50%;
    margin-top: -25px;
}

.testimonial-block .rslides_nav {
    top: 53%;
    margin-top: 0;
}

.rslides_nav.prev {
    left: 0;
}

.rslides_nav.next {
    background-position: -50px 0;
    right: 0;
}

.bg-red .rslides_nav.prev {
    background-position: 0 -50px;
}

.bg-red .rslides_nav.next {
    background-position: -50px -50px;
}

.rslides_nav.prev:hover,
.bg-red .rslides_nav.prev:hover{
    background-position: 0 -100px;
}

.rslides_nav.next:hover,
.bg-red .rslides_nav.next:hover {
    background-position: -50px -100px;
}

.rslides_tabs {
    list-style: none;
    text-align: center;
}

.rslides_tabs li {
    display: inline-block;
    overflow: hidden;
    margin: 6px;
}

.rslides_tabs li a {
    display: block;
    font-size: 0;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    background: url("../images/slide-dots.png") no-repeat;
}

.rslides_tabs li.rslides_here a {
    background-position: bottom;
}

.media-box,
.landing1 .media-box {
    padding: 70px 0;
}

.media-box h2 {
    color: #c03e41;
}

.media-box .divider {
    background: #c03e41;
    margin: 26px auto 34px;
}

.expect-box {
    padding: 96px 0 42px;
    line-height: 1.55em;
    color: #666;
}

.expect-box h2.marg-bot {
    margin: 0 0 52px;
}

.expect-box .divider {
    margin: 25px auto 30px;
}

.expect-box h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 40px 0 45px;
    color: #333;
    line-height: 1.22em;
}

.expect-box h6 {
    font-size: 18px;
    font-weight: 400;
    margin: 48px 0 55px;
    line-height: 1.2em;
}

.expect-box p {
    margin-bottom: 25px;
    line-height: 1.65em;
}

.faq-block {
    padding: 45px 0 8px;
}

.faq-block h5 {
    font-size: 24px;
    font-weight: 600;
    margin: 22px 0 40px;
}

.faq-block p {
    font-size: 17px;
    line-height: 2.1em;
}


.cta-2 {
    background: url("../images/bg-2.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg-2.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg-2.jpg', sizingMethod='scale')";
    font-size: 13px;
    padding: 96px 0 130px;
}

.cta-2 h2 {
    font-size: 36px;
    margin: 0 0 20px;
}

.cta-2 .subtitle {
    font-size: 30px;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    margin: 0 0 55px;
}




/*------- Start Landing #1  ---------*/

.landing1 .bg-grey {
    background: #ccc;
    padding: 45px 0 27px;
}

.landing1 .wr-box {
    font-size: 24px;
    line-height: 1.6em;
}


.landing1 .how-it-works {
    padding: 96px 0 43px;
}

.landing1 .how-it-works .text-big {
    margin: 0 0 34px;
}

.landing1 .how-it-works h3 {
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: raleway, sans-serif;
    font-weight: 600;
}

.landing1 .how-it-works h3 + .text-big {
    margin-bottom: 47px;
}

.landing1 .how-it-works .part {
    min-height: 142px;
}

.landing1 .cta-1 {
    padding-top: 100px;
    font-size: 17px;
    padding: 96px 0 51px;
}

.landing1 .cta-1 .big-text {
    margin: 38px 0 34px;
}

.landing1 .cta-1 p {
    margin: 0 0 40px;
}

.landing1 .expect-box {
    font-size: 17px;
}

.landing1 .testimonial-block {
    padding: 96px 0 36px;
}


.landing1 .expect-box p {
    margin: 0 0 14px;
    line-height: 1.6em;
}

.landing1 .cta-2 {
    background: url("../images/bg-3.jpg") no-repeat left top;
}

.landing1 .cta-2 .form-box {
    padding: 15% 0 11%;
}

.landing1 .cta-2 .form-box .form-control {
    padding-top: 14px;
    padding-bottom: 14px;
}

.landing1 .cta-2 .btn {
    display: block;
    width: 100%;
}

.landing1 .cta-2 .submit-wrap {
    padding-top: 20px;
}

/*------- /End Landing #1  ---------*/

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.filled {
	font-size: 12px;
	padding: 2px 0;
	color: #c03e41;
}

.error-message {
	color: #c03e41;
	font-size: 18px;
	font-weight: bold;
}

.bg-red .filled {
	color: #fff;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .ipad-v {
        padding: 50px;
    }
    .ipad-v h6 {
        white-space: normal;
        font-size: 15px;
        margin: 0;
    }
    .ipad-v p {
        font-size: 13px;
    }
}
@media (min-width: 1200px) {
    .benefits-box.benefits-var1 .pad-top {
        padding-top: 50px;
    }
}

@media (max-width: 992px) {
    .navbar-default .navbar-collapse {
        font-size: 12px;
    }
    .benefits-box.benefits-var1 .text-right .ben-part,
    .benefits-box.benefits-var1 .text-left .ben-part {
        padding: 40px 0 0;
        text-align: center;
        margin: 0;
    }
    .benefits-box.benefits-var1 .text-right .ben-part h5,
    .benefits-box.benefits-var1 .text-left .ben-part h5 {
        padding: 0;
    }
    .benefits-box.benefits-var1 .text-right .ben-part:before,
    .benefits-box.benefits-var1 .text-left .ben-part:before {
        left: 50%;
        margin-left: -10px;
    }

    .benefits-box.benefits-var1 .text-left .ben-part:after,
    .benefits-box.benefits-var1 .text-right .ben-part:after{
        left: 50%;
        margin-left: -18px;
    }
}


@media (max-width: 768px) {

	.who-are-we .video-box {
		padding: 3% 3.5% 0;
	}
    .navbar-default .navbar-collapse {
        font-size: 14px;
    }
    .navbar-default .navbar-collapse a:after {
        display: none;
    }
    .ipad-h {
        padding: 90px;
        white-space: normal;
    }
    .how-it-works .text-right,
    .how-it-works .text-left {
        text-align: center !important;
    }
    .how-it-works .scroll-btn {
        margin-bottom: 40px;
    }
    .benefits-box .text-right,
    .benefits-box .text-left {
        text-align: center;
    }
    .benefits-box .text-right .ben-part,
    .benefits-box .text-left .ben-part {
        text-align: center;
        padding: 50px 0 0;
        margin: 0;
    }
    .benefits-box .text-right .ben-part:before,
    .benefits-box .text-left .ben-part:before {
        left: 50%;
        margin-left: -10px;
    }
	.header {
		min-height: 65px;
		height: auto;
	}
}

@media (max-width: 520px) {
    .ipad-h {
        padding: 70px 50px;
    }
}

@media (max-width: 450px) {
    .ipad-h {
        padding: 11%;
        height: 300px;
    }
}

@media (max-width: 420px) {
    .ipad-h {
        font-size: 11px !important;
        overflow: hidden;
        height: 260px;
    }
    .ipad-h h6 {
        font-size: 11px !important;
        overflow: hidden;
        margin-top: -5px;
    }
}


